# =============================================================================
# ARQUIVO .gitignore - ToggleMaster Microservices
# =============================================================================
.env
setup.log
backups/