# =============================================================================
# ARQUIVO .gitignore - ToggleMaster Microservices
# =============================================================================
.env